.loader-bars{
  &:before,
  &:after,
  span{
    content:'';
    display: block;
    position: absolute;
    left: 0px;
    top: 0;
    width: 10px;
    height: 30px;
    background-color: #FFF;
    @include animation(grow 1s linear infinite);
  }

  &:after{
    left: 15px;
    @include animation-delay(-.66s);
  }

  span{
    left: 30px;
    @include animation-delay(-.33s);
  }
}