.loader-quart{
  border-radius:$size;
  border: 6px solid rgba(255,255,255,0.4);
}
.loader-quart:after{
  content:'';
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius:$size;
  border: 6px solid transparent;
  border-top-color:#FFF;
  @include animation(spin 1s linear infinite);
}
